.quarto/** linguist-vendored
_book/** linguist-vendored
_extensions/** linguist-vendored
test_files/** linguist-vendored
site_libs/** linguist-vendored

*.qmd linguist-language=Markdown
*.qmd linguist-vendored=false