/*-- scss:defaults --*/
$font-family-code: 'JetBrains Mono', monospace;
$font-family-monospace: 'JetBrains Mono', monospace;
$code-font-size: 14px;

/*-- scss:rules --*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

pre, code, .cm-editor * {
  font-family: 'JetBrains Mono', monospace !important;
  font-size: 14px !important;
}